@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
.main-pg{
    background:transparent;
    display: flex;
    flex-direction: column;
    padding-left:8vw;
    padding-right:8vw;
    justify-content: center;
    align-items: center;
    padding-top: 15vh !important;
    width: 100%;

}
div.name{
    width:60vw;
    height: auto;
    padding-top: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    padding-bottom: 35vh !important;
}

h1.name{
    font-family: 'Chivo', sans-serif !important;
    font-weight: 600 !important;
    font-size: 10vh;
    color: white;
    text-align: center;
}

h3.descrip{
    font-family: 'Chivo', sans-serif !important;
    font-weight: 400 !important;
    font-size: 3vh;
    color: white;
    text-align: center;
}


@media (max-width: 650px){
    h1.name{
        font-size: 8vh;
    }
    h3.descrip{
        font-size: 2vh;
    }
}
