.works{
    background: transparent !important;
    width: 100% !important;
    height: auto !important;
    padding-left: 5vw !important;
    padding-right: 5vw !important;
    display:flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
    flex-flow: wrap !important;
    padding-bottom: 10vh !important;
    
}



#cardi{
    width: 20% !important;
    height: auto !important;
    padding: 0vh !important;
    background: white !important;
    margin: 20px !important;
    border-radius: 8px !important;
    border: none !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    box-sizing: border-box !important;
    transition: 1.2s ease-in-out !important;
}

@media(max-width:800px){
    #cardi{
        width: 40% !important;

    }
}

@media(max-width:650px){
    #cardi{
        width: 90% !important;
        
    }
}

#card-title{
    width: 100% !important;
    color: #240068 !important;
    font-weight: 700 !important;
    font-size:  3vh !important;
    text-align: center !important;
}

#card-text{
    width: 100% !important;
    color: #240068 !important;
    font-weight: 300 !important;
    font-size:  2vh !important;
    text-align: justify !important;
    
}
.hidenn{
    width: 100% !important;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute !important;
}
img.card-img-top{
    border-radius: 0px !important;
    width: 100% !important;
    height: auto !important;
    overflow: hidden !important;
    border-radius: 8px 8px 0px 0px !important;
    
    position: relative !important;
}

#cardi:hover{
    transform: scale(1.08);
    border: none;
}

#btn{
    background-color: #240068 !important;
    color: white !important;
    font-weight: 500 !important;
    border: none !important;
    transition: 0.5s;

}

.titleWeb{
    width: 100% !important;
    padding-bottom: 5vh !important;
    padding-top: 5vh !important;
    color: white !important;
    font-size: 10vh !important;
    text-align: center !important;
    border-radius: 87% 13% 88% 12% / 27% 78% 22% 73% !important;
    background: linear-gradient(90deg, rgba(81,33,203,1) 0%, rgba(45,11,109,1) 83%);
}


@media(max-width:650px){
    .titleWeb{
        font-size:5vh !important;
        
    }
}